.top-manager-container{
    margin-top: 144px;
}

.manager-menu{
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 100%;
    min-height: 200px;
    height: auto;
}

.manage-result-con{
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
    max-width: 100%;
    min-height: 200px;
    height: auto;
}

.inner-manage-result-con{
    padding: 10px 0 10px 0;
}

.inner-manager-menu{
    padding: 10px 0 20px 0;
}

.list-group-item{
    margin: 10px 0 0 0;
    padding-bottom:10px ;
}

.menu-text{
    padding: 15px 14px;
    margin: 0;
    transition: all 0.1s;
    border-radius: 10px;
    border-top: 1px solid rgba(0,0,0,0.2);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.menu-text:hover {
    border-radius:0;
    background: white;
    color: rgba(0,0,0,0.5);
    border-top: 1px solid rgba(0,0,0,1);
    border-bottom: 1px solid rgba(0,0,0,1);
}

.form-floating{
    margin: 10px 0 10px 0;
}

.alert-hotel-manager{
    margin-top: 10px;
}


