.login-form{
    margin: 70px auto auto auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: auto;
    max-width: 60%;
    min-height: 400px;

}
.inner-form1{
    background: white;
    margin: auto auto auto auto;

    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: inherit;
}

.inner-form2 {
    background: linear-gradient(to bottom right, #0d6efd, pink);
    margin: auto auto auto auto;

    position: relative;
    overflow: hidden;
    max-width: 100%;
    min-height: inherit;
}
.text-container{
    margin-top: 5%;
    margin-left: 5%;
}

.email {
    margin-top: 7%;
    margin-bottom: 5%;
}

.custom-login-alert{
    margin-top: 20px;
}

@media screen and (min-width: 961px) {
    .inner-form2 {
        min-height: inherit;
    }
}

@media screen and (max-width: 960px) {
    .inner-form2 {
min-height: 200px;
    }
}

@media screen and (min-width: 961px) {
    .inner-form1 {
        min-height: inherit;
    }
}

@media screen and (max-width: 960px) {
    .inner-form1 {
        min-height: 300px;
    }
}


