.registration-animation {
    color: rgba(255, 255, 255, 0.75);
    font-family: "Special Elite", monospace;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 520px;
    font-size: 2em;
    opacity: 100%;
    animation: typing 2s steps(60, end);
}


.registration-animation:nth-child(2){
    animation: typing-2 4s steps(60, end);

}

.registration-animation:nth-child(3){
    animation: typing-2 6s steps(60, end);

}

@media screen and (min-width: 601px) {
    .registration-animation {
        font-size: 2em;
    }
}

@media screen and (max-width: 600px) {
    .registration-animation {
        font-size: 23px;
    }
}

@keyframes typing{
    from {width: 0;}
}

@keyframes typing-2 {
    0% {width: 0;}
    50% {width: 0;}
}

