.menu {
    width: 210px;
    margin: 20px 7px 1px 1px;
    cursor: pointer;
}
.title {
    margin-right: auto;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    padding: 9px;
    border-radius: 4px;
    position: relative;
    box-shadow: 0 0 10px -5px #000;
    color: #505050;
}

.dropdown {
    width: 100%;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px -10px #000;
    color: #505050;
    margin-top: 24px;
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.down {
    max-height: 210px;
}
.arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 20px;
    bottom: -24px;
    display: none;
}
.arrow.gone {
    display: block;
}
.user-menu{
    border-color: white;
    padding: 15px 14px;
    margin: 0;
    transition: all 0.1s;
}
.user-menu:hover {
    border-radius: 0;
    border-color: blue;
    background: blue;
    -webkit-transform: scale(1.05);
    color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px -10px #000;
}

.link-flash {
    color: black;
    text-decoration: none;
}