<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles/css/background.css}" type="text/css">
    <link rel="stylesheet" th:href="@{styles/css/registrationPage.css}" type="text/css">
    <link rel="stylesheet" th:href="@{styles/css/header.css}">
    <link rel="stylesheet" th:href="@{styles/css/registrationAnimation.css}" type="text/css">
    <title>Registration</title>
</head>
<body>
<!--header-->
<div th:replace="fragments/header::header"></div>
<div class="container-flex">
    <div class="row login-form">
        <div class="col-12 col-lg-6 inner-form2">
            <!--            animation-->
            <div class="text-container">
                <p class="parent registration-animation">Register your account</p>
                <p class="registration-animation">on hotels booking</p>
                <p class="registration-animation">service!</p>
            </div>
        </div>
        <div class="col-12 col-lg-6 inner-form1">
            <form th:action="@{/registration}" th:method="post" th:object="${user}">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <div class="form-floating">
                    <input type="email" th:field="*{email}" class="form-control email" id="floatingInput"
                           placeholder="name@example.com" required>
                    <label for="floatingInput">Email address*</label>
                </div>
                <div class="form-floating">
                    <input type="text" th:field="*{firstName}" class="form-control info" id="firstname" placeholder="Firstname"
                           required>
                    <label for="firstname">Firstname*</label>
                </div>
                <div class="form-floating">
                    <input type="text" th:field="*{lastName}" class="form-control info" id="lastname" placeholder="Lastname"
                           required>
                    <label for="lastname">Lastname*</label>
                </div>
                <div class="gender info">
                    <div class="form-check form-check-inline">
                        <input th:field="*{gender}" class="form-check-input" type="radio" id="inlineCheckbox1" value="MALE"
                               required>
                        <label class="form-check-label" for="inlineCheckbox1">Male*</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input th:field="*{gender}" class="form-check-input" type="radio" id="inlineCheckbox2" value="FEMALE"
                               required>
                        <label class="form-check-label" for="inlineCheckbox2">Female*</label>
                    </div>
                </div>
                <div class="form-floating">
                    <label for="birthday"></label>
                    <input  th:field="*{dateOfBirth}" type="date" class="form-control info" id="birthday" placeholder="Birthday" required>
                    <label for="lastname">Date of birth*</label>
                </div>
                <div class="form-floating">
                    <input th:field="*{phoneNumber}" type="tel" id="Phone" class="form-control info"
                           placeholder="+375290000000"
                           pattern="^(\+375|80)(29|25|44|33)(\d{3})(\d{2})(\d{2})$" required>
                    <label for="Phone">Phone number*</label>
                </div>
                <div class="form-floating">
                    <input onChange="onChange()" type="password" th:field="*{password}" class="form-control info" id="password"
                           placeholder="Password" required>
                    <label for="password">Password*</label>
                </div>
                <div class="form-floating">
                    <input onChange="onChange()" name="confirm" type="password" class="form-control info"
                           id="confirmPassword"
                           placeholder="Confirm password" required>
                    <label for="confirmPassword">Confirm password*</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input class="form-check-input show-password" type="checkbox"> Show password
                    </label>
                </div>
                <button onclick="validatePassword()" class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
                <div th:if="${userSaveError}" class="alert alert-danger alert-danger-custom" role="alert">
                    <span class="iconify" data-icon="akar-icons:triangle-alert"></span>  Duplicate email or  phone number!
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/background::background"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script th:src="@{/styles/js/registerUser.js}" type="text/javascript"></script>
<script th:src="@{/styles/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>