<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <link rel="stylesheet" href="resources/css/adminPage.css">
    <link rel="stylesheet" href="resources/css/userDropdownMenu.css">
    <link rel="stylesheet" href="resources/css/background.css">
    <title>Admin page</title>
</head>
<body>
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-sm">
        <a href="#" class="navbar-brand">Navbar</a>
        <div class="menu">
            <div class="title" onclick="f()">John Doe <span class="fa fa-bars"></span>
                <div class="arrow"></div>
            </div>
            <div class="dropdown">
                <a class="link-flash" href="#"><p>Profile</p><span class="fa fa-bars"></span></a>
                <a class="link-flash" href="#"><p>Booking history<span class="fa fa-bars"></span></p></a>
                <a class="link-flash" href="#"><p>Register hotel</p><span class="fa fa-bars"></span></a>
                <a class="link-flash" href="#"><p>Sign out</p><span class="fa fa-bars"></span></a>
            </div>
        </div>
    </div>
</nav>
<div class="container-lg top-admin-container">
    <div class="row">
        <div class="col-12 col-lg-4">
            <div class="container-fluid admin-menu">
                <div class="container-fluid inner-admin-menu">
                    <ul class="list-group">
                        <li class="list-group-item"><a class="link-flash" href=""><h1 class="lead menu-text">
                            <span class="iconify" data-icon="gis:globe-users"></span>  All users accounts</h1></a></li>
                        <li class="list-group-item"><a class="link-flash" href=""><h1 class="lead menu-text">
                            <span class="iconify" data-icon="clarity:building-solid-alerted"></span>  All hotels accounts</h1></a></li>
                        <li class="list-group-item"><a class="link-flash" href=""><h1 class="lead menu-text">
                            <span class="iconify" data-icon="line-md:circle-to-confirm-circle-transition"></span>  Confirm hotels registration</h1></a></li>
                        <li class="list-group-item"><a class="link-flash" href=""><h1 class="lead menu-text">
                            <span class="iconify" data-icon="carbon:add-alt"></span>  Add new admin</h1></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-8">
            <div class="container-fluid manage-result-con">
                <div class="container-fluid inner-manage-result-con">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Legal name</th>
                            <th scope="col">Brand</th>
                            <th scope="col">Address</th>
                            <th scope="col">Confirm registration</th>
                            <th scope="col">Show more information</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                            <td><button class="btn btn-success"><span class="iconify" data-icon="line-md:confirm-circle"></span> Confirm registration</button></td>
                            <td><!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span class="iconify" data-icon="fluent:home-more-32-regular"></span>  Show more information
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Hotel information</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Brand</h6>
                                                <h6>address</h6>
                                                <h6>More inf</h6>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                            <td><button class="btn btn-success"><span class="iconify" data-icon="line-md:confirm-circle"></span> Confirm registration</button></td>
                            <td><!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span class="iconify" data-icon="fluent:home-more-32-regular"></span>  Show more information
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Hotel information</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Brand</h6>
                                                <h6>address</h6>
                                                <h6>More inf</h6>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td colspan="2">Larry the Bird</td>
                            <td>@twitter</td>
                            <td><button class="btn btn-success"><span class="iconify" data-icon="line-md:confirm-circle"></span> Confirm registration</button></td>
                            <td><!-- Button trigger modal -->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    <span class="iconify" data-icon="fluent:home-more-32-regular"></span>  Show more information
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Hotel information</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <h6>Brand</h6>
                                                <h6>address</h6>
                                                <h6>More inf</h6>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    background-->
<div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="resources/js/userPage.js"></script>
<script src="resources/js/bootstrap.js"></script>
</body>
</html>