<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/css/bootstrap.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles/css/hotelManager.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles/css/background.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/styles/css/userDropdownMenu.css}" type="text/css">
    <title>Add hotel apartment</title>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="container-lg top-manager-container">
    <div class="row">
        <div th:replace="fragments/managerDetailsMenu::managerDetailsMenu"></div>
        <div class="col-12 col-lg-8">
            <div class="container-fluid manage-result-con">
                <form th:action="@{/manager/add-apartment}" th:method="post" th:object="${apartment}">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    <div class="container-fluid inner-manage-result-con">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-floating">
                                    <input th:field="*{name}" type="text" class="form-control" id="roomName"
                                           placeholder="Room name*" required>
                                    <label for="roomName">Room name*</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating">
                                    <input th:field="*{price}" type="text" class="form-control" id="price"
                                           placeholder="Price*" required>
                                    <label for="price">Price*</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-floating">
                                    <select id="category" th:field="*{category}"
                                            class="form-select form-select-lg mb-3"
                                            aria-label="Default select example" required>
                                        <option value="STANDARD">Single bed room</option>
                                        <option value="DOUBLE">Double bed room</option>
                                        <option value="TRIPLE">Triple bed room</option>
                                        <option value="LUX">Lux apartment</option>
                                        <option value="PRESIDENT_LUX">President lux apartment</option>
                                    </select>
                                    <label for="category">Category</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-floating">
                                    <select id="singleBedCount" th:field="*{singleBedCount}"
                                            class="form-select form-select-lg mb-3"
                                            aria-label="Default select example" required>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <label for="singleBedCount">Single bed count</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating">
                                    <select id="doubleBedCount" th:field="*{doubleBedCount}"
                                            class="form-select form-select-lg mb-3"
                                            aria-label="Default select example" required>
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <label for="doubleBedCount">Double bed count</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.tv}" class="form-check-input" type="checkbox" id="tv" value="true">
                                    <label class="form-check-label" for="tv">tv</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.conditioner}" class="form-check-input" type="checkbox" id="conditioner"
                                           value="true">
                                    <label class="form-check-label" for="conditioner">conditioner</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.bar}" class="form-check-input" type="checkbox" id="bar" value="true">
                                    <label class="form-check-label" for="bar">bar</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.refrigerator}" class="form-check-input" type="checkbox"
                                           id="refrigerator" value="true">
                                    <label class="form-check-label" for="refrigerator">refrigerator</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.balcony}" class="form-check-input" type="checkbox" id="balcony"
                                           value="true">
                                    <label class="form-check-label" for="balcony">balcony</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.jacuzzi}" class="form-check-input" type="checkbox" id="jacuzzi"
                                           value="true">
                                    <label class="form-check-label" for="jacuzzi">jacuzzi</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.breakfast}" class="form-check-input" type="checkbox" id="breakfast"
                                           value="true">
                                    <label class="form-check-label" for="breakfast">breakfast</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.wifi}" class="form-check-input" type="checkbox" id="wifi" value="true">
                                    <label class="form-check-label" for="wifi">wi-fi</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.transfer}" class="form-check-input" type="checkbox" id="transfer"
                                           value="true">
                                    <label class="form-check-label" for="transfer">transfer</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.parking}" class="form-check-input" type="checkbox" id="parking"
                                           value="true">
                                    <label class="form-check-label" for="parking">parking</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.swimmingPool}" class="form-check-input" type="checkbox"
                                           id="swimmingPool" value="true">
                                    <label class="form-check-label" for="swimmingPool">swimming pool</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.gym}" class="form-check-input" type="checkbox" id="gym" value="true">
                                    <label class="form-check-label" for="gym">gym</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.restaurant}" class="form-check-input" type="checkbox" id="restaurant"
                                           value="true">
                                    <label class="form-check-label" for="restaurant">restaurant</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.pets}" class="form-check-input" type="checkbox" id="pets" value="true">
                                    <label class="form-check-label" for="pets">pets</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-check-inline">
                                    <input th:field="*{comfort.accessibilityFeatures}" class="form-check-input" type="checkbox"
                                           id="accessibilityFeatures" value="true">
                                    <label class="form-check-label" for="accessibilityFeatures">accessibility
                                        features</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary form-floating">Add new room</button>
                        <div class="alert alert-success alert-password-update" role="alert" th:if="${saveSuccess}">
                            <span class="iconify" data-icon="clarity:success-standard-line"></span> Room added!
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/background::background"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script th:src="@{/styles/js/logout.js}" type="text/javascript"></script>
<script th:src="@{/styles/js/userPage.js}" type="text/javascript"></script>
<script th:src="@{/styles/js/bootstrap.js}" type="text/javascript"></script>
</body>
</html>