<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <link rel="stylesheet" href="resources/css/searchHotels.css">
    <link rel="stylesheet" href="resources/css/background.css">
    <title>Main post page</title>
</head>
<body>
<!--header-->
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-sm">
        <a href="#" class="navbar-brand">Navbar</a>
        <form class="d-flex">
            <button id="btn-reg-hot" class="btn btn-primary" type="submit">Register hotel</button>
            <button id="btn-reg" class="btn btn-outline-primary" type="submit">Register</button>
            <button id="btn-log" class="btn btn-outline-primary" type="submit">Login</button>
        </form>
    </div>
</nav>
<div id="particle-container">
    <div class="container-sm search-group">
        <div class="row">
            <div class="search col-12 col-lg-3">
                <h5 class="search-inner">Search</h5>
                <input type="text" class="form-control search-inner" placeholder="Where are you going?"
                       aria-label="Where are you going?" aria-describedby="button-addon2">
                <input type="date" class="form-control search-inner" placeholder="Check-in" aria-label="Check-in"
                       aria-describedby="button-addon2">
                <input type="date" class="form-control search-inner" placeholder="Check-out" aria-label="Check-out"
                       aria-describedby="button-addon2">
                <select class="form-select search-inner" aria-label="Example select with button addon">
                    <option selected>Adults</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select search-inner" aria-label="Example select with button addon">
                    <option selected>Children</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <select class="form-select search-inner" aria-label="Example select with button addon">
                    <option selected>Rooms</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                <button class="btn btn-primary search-inner btn-search" type="submit">Search</button>
            </div>
            <div class=" col-9">
                <h2 class="hed-text">Warsaw: 476 properties found</h2>
                <div class="btn-group flex-wrap" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio1">Radio 1</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio2">Radio 2</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio3">Radio 3</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio4">Radio 3</label>
                </div>
                <div class="result">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-4 col-12">
                                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="0" class="active" aria-current="true"
                                                aria-label="Slide 1"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="1" aria-label="Slide 2"></button>
                                        <button type="button" data-bs-target="#carouselExampleIndicators"
                                                data-bs-slide-to="2" aria-label="Slide 3"></button>
                                    </div>
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="https://pix10.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768"
                                                 class="d-block w-100" alt="hotel" style="width: 300px;height: 300px">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
                                                 class="d-block w-100" alt="hotel" style="width: 300px;height: 300px">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2022/04/12/1329/MUMGH-P0765-Inner-Courtyard-Hotel-Exterior-Evening.jpg/MUMGH-P0765-Inner-Courtyard-Hotel-Exterior-Evening.16x9.jpg"
                                                 class="d-block w-100" alt="hotel" style="width: 300px;height: 300px">
                                        </div>
                                    </div>
                                    <button class="carousel-control-prev" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button"
                                            data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-8 result-info">
                                <a href="#" class="brand">
                                    <h5>Meblirovannye Komnaty Vorota Minska</h5>
                                </a>
                                <h6 class="address">ulitsa Kirova 1, Minsk</h6>
                                <h6 class="address">rating 6.2</h6>
                                <hr>
                                <h4>Price: from 1000 $</h4>
                                <hr>
                                <a href="#">
                                    <h6>Enter the dates to see the current room rates</h6>
                                    <button class="btn btn-primary show-rooms-btn" type="submit">Show all rooms</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    background-->
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>
<script src="resources/js/bootstrap.js"></script>
</body>
</html>