<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="resources/css/bootstrap.css">
    <link rel="stylesheet" href="resources/css/bookingHistory.css">
    <link rel="stylesheet" href="resources/css/userDropdownMenu.css">
    <link rel="stylesheet" href="resources/css/background.css">
    <title>Booking history</title>
</head>
<body>
<nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-sm">
        <a href="#" class="navbar-brand">Navbar</a>
        <div class="menu">
            <div class="title" onclick="f()">John Doe <span class="fa fa-bars"></span>
                <div class="arrow"></div>
            </div>
            <div class="dropdown">
                <a class="link-flash" href="#"><p>Profile</p><span class="fa fa-bars"></span></a>
                <a class="link-flash" href="#"><p>Booking history<span class="fa fa-bars"></span></p></a>
                <a class="link-flash" href="#"><p>Register hotel</p><span class="fa fa-bars"></span></a>
                <a class="link-flash" href="#"><p>Sign out</p><span class="fa fa-bars"></span></a>
            </div>
        </div>
    </div>
</nav>
<div class="container-lg top-booking-history-con">
    <div class="container-fluid booking-history-inner-con">
        <div class="row inner-row-booking-history">
            <div class="col-3">
                <img src="https://pix10.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768"
                     class="img-fluid" style="width: 200px;height: 200px" alt="...">
            </div>
            <div class="col-4">
                <h4>Hilton</h4>
                <h6>Pushkina street, house 12, building 7</h6>
                <h6>Rating:
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                </h6>
                <div class="row">
                    <div class="col-6">
                        <h6>Total price:</h6>
                    </div>
                    <div class="col-6">
                        <h6>7000$</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Number of booking:</h6>
                    </div>
                    <div class="col-6">
                        <h6>112356</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Booking status:</h6>
                    </div>
                    <div class="col-6">
                        <h6><span class="badge bg-danger">No active</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h6>Check in date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>12-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Check out date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>15-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Booking confirm time:</h6>
                            </div>
                            <div class="col-6">
                                <h6>09-06-2022 15:30</h6>
                            </div>
                        </div>
                        <a href="#">Free booking cancel in 24 hours of booking confirm</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Cancel booking</button>
                        <button class="btn btn-secondary"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Delete from history</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid booking-history-inner-con">
        <div class="row inner-row-booking-history">
            <div class="col-3">
                <img src="https://pix10.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768"
                     class="img-fluid" style="width: 200px;height: 200px" alt="...">
            </div>
            <div class="col-4">
                <h4>Hilton</h4>
                <h6>Pushkina street, house 12, building 7</h6>
                <h6>Rating:
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                </h6>
                <div class="row">
                    <div class="col-6">
                        <h6>Total price:</h6>
                    </div>
                    <div class="col-6">
                        <h6>7000$</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Number of booking:</h6>
                    </div>
                    <div class="col-6">
                        <h6>112356</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Booking status:</h6>
                    </div>
                    <div class="col-6">
                        <h6><span class="badge bg-danger">No active</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h6>Check in date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>12-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Check out date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>15-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Booking confirm time:</h6>
                            </div>
                            <div class="col-6">
                                <h6>09-06-2022 15:30</h6>
                            </div>
                        </div>
                        <a href="#">Free booking cancel in 24 hours of booking confirm</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Cancel booking</button>
                        <button class="btn btn-secondary"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Delete from history</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid booking-history-inner-con">
        <div class="row inner-row-booking-history">
            <div class="col-3">
                <img src="https://pix10.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768"
                     class="img-fluid" style="width: 200px;height: 200px" alt="...">
            </div>
            <div class="col-4">
                <h4>Hilton</h4>
                <h6>Pushkina street, house 12, building 7</h6>
                <h6>Rating:
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                </h6>
                <div class="row">
                    <div class="col-6">
                        <h6>Total price:</h6>
                    </div>
                    <div class="col-6">
                        <h6>7000$</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Number of booking:</h6>
                    </div>
                    <div class="col-6">
                        <h6>112356</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Booking status:</h6>
                    </div>
                    <div class="col-6">
                        <h6><span class="badge bg-danger">No active</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h6>Check in date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>12-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Check out date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>15-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Booking confirm time:</h6>
                            </div>
                            <div class="col-6">
                                <h6>09-06-2022 15:30</h6>
                            </div>
                        </div>
                        <a href="#">Free booking cancel in 24 hours of booking confirm</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Cancel booking</button>
                        <button class="btn btn-secondary"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Delete from history</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid booking-history-inner-con">
        <div class="row inner-row-booking-history">
            <div class="col-3">
                <img src="https://pix10.agoda.net/hotelImages/124/1246280/1246280_16061017110043391702.jpg?ca=6&ce=1&s=1024x768"
                     class="img-fluid" style="width: 200px;height: 200px" alt="...">
            </div>
            <div class="col-4">
                <h4>Hilton</h4>
                <h6>Pushkina street, house 12, building 7</h6>
                <h6>Rating:
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                    <span class="iconify" data-icon="emojione:star"></span>
                </h6>
                <div class="row">
                    <div class="col-6">
                        <h6>Total price:</h6>
                    </div>
                    <div class="col-6">
                        <h6>7000$</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Number of booking:</h6>
                    </div>
                    <div class="col-6">
                        <h6>112356</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <h6>Booking status:</h6>
                    </div>
                    <div class="col-6">
                        <h6><span class="badge bg-danger">No active</span></h6>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-6">
                        <div class="row">
                            <div class="col-6">
                                <h6>Check in date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>12-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Check out date:</h6>
                            </div>
                            <div class="col-6">
                                <h6>15-06-2022</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <h6>Booking confirm time:</h6>
                            </div>
                            <div class="col-6">
                                <h6>09-06-2022 15:30</h6>
                            </div>
                        </div>
                        <a href="#">Free booking cancel in 24 hours of booking confirm</a>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-danger"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Cancel booking</button>
                        <button class="btn btn-secondary"><span class="iconify" data-icon="material-symbols:cancel-outline"></span>
                            Delete from history</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--    background-->
<div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
</div>
<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="resources/js/userPage.js"></script>
<script src="resources/js/bootstrap.js"></script>
</body>
</html>